.App {
  padding: 40px 200px;
}

.inputName {
  margin: 10px 0;
}

.inputContent {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

.submitBtn {
  float: right;
  margin-bottom: 10px;
  padding: 5px 15px;
}

.singleComment {
  clear: both;
  margin-top: 10px;
  padding: 25px;
  border: 1px solid #000;
}
.deleteBtn {
  margin-left: 8px;
  padding: 5px 8px;
}
.commentInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}